
<h2>Lista de tareas</h2>

<p-table [columns]="taskNameFileds" [value]="taskList" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{ col | uppercase }}
          </th>
          <th>EDITAR</th>
          <th>BORRAR</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
      <tr>
          <td><a routerLink="/detail/{{rowData.id}}"> {{ rowData.name }} </a>    </td>
          <td><i class="pi pi-thumbs-up" style="font-size: 1.5rem;color: green" *ngIf="rowData.completed;else noCompleted"></i></td>
          <td><i class="pi pi-pencil" style="font-size: 1.5rem; color: orange"  (click)="editTask(rowData)"></i></td>
          <td><i class="pi pi-trash" style="font-size: 1.5rem; color: red" (click)="deleteTask(rowData.id)"></i></td>
      </tr>
  </ng-template>
</p-table>

<ng-template #noCompleted><i class="pi pi-spin pi-spinner" style="font-size: 1.5rem;color: blueviolet"></i></ng-template>
