<form class="row g-3 needs-validation" novalidate (ngSubmit)="onSubmit()">

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Name</label>
    <input type="text" id="validationCustom01" class="form-control" [(ngModel)]="task.name" name="name" >
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Compleatada</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox"  [(ngModel)]="task.completed" name="completed" id="validationCustom02" />
    </div>

  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit" [disabled]="task.name==undefined || task.name==''">Submit form</button>
  </div>
</form>
