<p class="row"><br/></p>
<div class="d-flex justify-content-center">
  <p-card header="{{task.name}}" subheader="" [style]="{ width: '380px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>
        {{task.detail}}
    </p>
    <hr>
    <p>
      Estado: <i class="pi pi-thumbs-up" style="font-size: 1.5rem;color: green" *ngIf="task?.completed;else noCompleted"></i>
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Editar" icon="pi pi-check" [disabled]="isEnd()" (onClick)="modificate()"></p-button>
        <confirm-delete-dialog [idTask]="task!.id"></confirm-delete-dialog>
        <p-button label="Atras" icon="pi pi-chevron-left" styleClass="p-button-secondary" [style]="{ 'margin-left': '.3em' }" routerLink="/task"></p-button>
    </ng-template>
  </p-card>
</div>

<ng-template #noCompleted><i class="pi pi-spin pi-spinner" style="font-size: 1.5rem;color: blueviolet"></i></ng-template>


<div *ngIf="showForm==true">
  <!--<app-form-task [task]="task" (taskEmmiter)="saveChange($event)"></app-form-task>-->
  <app-form-task-group [task]="task" (taskEmmiter)="saveChange($event)"></app-form-task-group>
</div>
