<hr>
<h2>Editar tarea</h2>
<div class="container-f1luid !direction !spacing">
    <form  [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2"><label >Name</label></div>
            <div class="col-4"><input class="form-control"
              [ngClass]="{'form-control is-invalid':(form.touched && (form.get('nameTask')?.hasError('required') || form.get('nameTask')?.hasError('min') ))}"
              formControlName="nameTask" type="text"></div>
            <!-- con form?.touch compreuba si se ha tocado o no (carga inicial o no), si se ha tocado y hay error lo muestra-->
            <p *ngIf="form?.touched && form?.get('nameTask')?.hasError('required')">Campo requerido</p>
            <p *ngIf="form?.touched && form?.get('nameTask')?.hasError('min')">Baja lonigtud</p>
        </div>
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2"><label>Completed</label></div>
            <div class="col-2">
            <input type="checkbox" id="cbox2" value="second_checkbox" formControlName="completedTask" class="form-check-input"/>
            </div>
        </div>
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2"><label>Detail</label></div>
            <div class="col-4"><input formControlName="detailTask" type="text" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2">
                <button mat-raised-button color="primary" type="submit" matTooltip="This is a tooltip!">Enviar</button>
            </div>
        </div>

    </form>
</div>
