
  <section>
  <mat-form-field appearance="fill">
    <mat-label>Task</mat-label>
    <!-- si task.type es igual que una de las opciones se seleccioanra automaticamente -->
    <mat-select [(ngModel)]="task.type" [disabled]="!editModeOn">
      <mat-option *ngFor="let option of typeOptions" [value]="option.value">
        {{option.label}}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field appearance="fill">

    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="task.priority" [disabled]="!editModeOn">
      <mat-option *ngFor="let option of priorityOptions" [value]="option.value">{{option.label}}</mat-option>
    </mat-select>

  </mat-form-field>


  <mat-form-field>
      <mat-label >Description</mat-label>
      <input [(ngModel)]="task.description" matInput placeholder="Description"  value="task.description" [disabled]="!editModeOn">
  </mat-form-field>


  <!-- editar by button with ico or checkbox -->
  <mat-checkbox [(ngModel)]="editModeOn"> </mat-checkbox>
  <mat-icon aria-hidden="false" fontIcon="mode_edit" (click)="updateStateEditionMode()"></mat-icon>
  <span> | </span>
  <!-- guardar -->
  <mat-icon aria-hidden="false" fontIcon="save" (click)="saveTask()"></mat-icon>
  <span> | </span>
  <!-- borrar -->
  <mat-icon aria-hidden="false" fontIcon="delete" (click)="deleteTask()"></mat-icon>

</section>
