<h1>Padre</h1>

<!-- para pasar los datos del padre al hijo, usar [atributo de inputo en el hio]="atributo del padre"-->
<app-hijo [title]="tituloHijo"
      (newEmited)="onNewEmit($event)"
></app-hijo>
