<h1>Hola mundo</h1>

<router-outlet></router-outlet>

<div class="row" *ngIf="isLoading">
  <span class="col-4"></span>
  <div class="col-2">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>
</div>
