<h1>Tareas</h1>
<!--
<hr>
<app-task></app-task>

-->
<div *ngIf="taskList == undefined || taskList.length!=0; else taksListEmpty">
  <app-task-list [taskList]="taskList"
    [taskNameFileds]="taskNameFileds"></app-task-list>

</div>

<div>
  <h2>Crear tarea</h2>
  <hr>
  <app-form-task [task]="taskInput" (taskEmmiter)="addTask($event)"></app-form-task>
  </div>


<!-- elses de los if -->
<ng-template #taksListEmpty>
  <p>La lista de tareas esta vacía.</p>
</ng-template>
<ng-template #icoNoComplete>
  <i class="bi bi-file-excel"></i>
</ng-template>
