<hr>
<h1> Directivas </h1>

<div class="row" *ngIf="condition > 1">
    BLoque de codigo dentro de un ngIf
</div>


<div class="row">
    <ul>
        <li *ngFor="let item of fruta; let i = index">{{i}}. {{item}}</li>
    </ul>
</div>

<div [ngSwitch]="conditionExpressionSwith">
    <div *ngSwitchCase="1">output 1</div>
    <div *ngSwitchCase="2">output 2</div>
    <div *ngSwitchCase="3">output 3</div>
    <div *ngSwitchCase="3">output 4</div>
    <div *ngSwitchDefault>Default</div>
</div>

<!-- two data-binding: Usando FormModule -->
<div class="row">
    <input type="text" [(ngModel)]="textNgModel">
</div>
<div class="row">
    <label>Inserto: {{textNgModel}}</label>
</div>