<h2> TABLE DATA </h2>
<!-- las tablas en angualr material funciona de la sigiuente manera:
1º indica el boeto y que elmento le corresponde a cada columna
2º se renderiza
-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition"

      Para coger el valor de la variable del for "colum", se debe poner [matColumnDef],
      de lo contario, matColumnDef, el valor lo tomara como un string, produciendo
      la excepción al renderizar: Duplicate Column Name Provided: Angular Material Data Table
      -->

  <!-- element[colum] -->
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns" >
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- renderiza la cabecera y los datos-->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
