<div>dashboard works!</div>
<!--
    Imprime las rutas hijas del dashboard, aquellas que estan definidas en 'children' del rotues en dashboard-routing.module.ts

    Ejemplo de renderización de 2 nivles de profunidad
    -- app.component.html > imprime en el rotuer-outelt la vista de dashboard
        -- dasbhoard.compoent.html > imprime en el rotuer-outlet la vistas hijas de dashboard.component.ts

   Por cada tarea carga el componente
-->
<div *ngFor="let task of taskList">
        <app-dashboard-task [task]=task (taskEmit)="saveTask($event)"></app-dashboard-task>
</div>
<!-- <router-outlet></router-outlet> -->

<hr>

<app-post-component></app-post-component>
