<p>login works!</p>
<div class="container-f1luid !direction !spacing">
    <form  [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2"><label >UserName</label></div>
            <div class="col-4"><input class="form-control" [ngClass]="{'form-control is-invalid':(form.touched && (form.get('userName')?.hasError('required') || form.get('userName')?.hasError('min') ))}" formControlName="userName" type="text"></div>
            <!-- con form?.touch compreuba si se ha tocado o no (carga inicial o no), si se ha tocado y hay error lo muestra-->
            <p *ngIf="form?.touched && form?.get('userName')?.hasError('required')">Campo requerido</p>
            <p *ngIf="form?.touched && form?.get('userName')?.hasError('min')">Baja lonigtud</p>
        </div>
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2"><label>Email</label></div>
            <div class="col-4"><input formControlName="userEmail" type="email" class="form-control" [ngClass]="{'form-control is-invalid':(form.touched && (form.get('email')?.hasError('required') || form.get('email')?.hasError('email')))}"></div>
        </div>
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2"><label>Password</label></div>
            <!--<div class="col-4"><input formControlName="password" type="password"></div>-->
            <div class="col-4"><p-password  formControlName="password" [toggleMask]="true"></p-password></div>
        </div>
        <br>
        <div class="row">
            <span class="col-4"></span>
            <div class="col-2">
                <button mat-raised-button color="primary" type="submit" matTooltip="This is a tooltip!">Enviar</button>
            </div>
        </div>
        <!--
        <div class="row" *ngIf="isLoader()">
            <span class="col-4"></span>
            <div class="col-2">
                <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </div>
        </div>
        -->
    </form>
</div>
