  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <p-button label="Borrar" icon="pi pi-times" styleClass="p-button-danger" [style]="{ 'margin-left': '.3em' }" (click)="delete($event)"></p-button>
