<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  {{data.message}}
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">No</button>
  <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="true">Ok</button>
</mat-dialog-actions>
